<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Recipe page</h1>
    
    <h1>Recipe Name: {{name}}</h1>
    <h2>Time: {{time}} min</h2>
    <h2>Ingredient: {{ingredient}}</h2>
    {% for i in ingredient %}
    <h3>{{i}}</h3>
    {% endfor %}

    <h1>if</h1>
    {% if time <= 2 %} <h1>Recipe is Easy</h1>
        {% else %}
        <h1>Recipe is Hard</h1>
        {% endif %}

</body>

</html>